@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .menuWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include apply-only-mobile {
      flex-direction: column;
    }
    .materiWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .materi1,
      .materi2,
      .materi3,
      .materi4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../Images/bgMenu.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        height: 100px;
        width: 150px;
        margin-right: 50px;

        @include apply-only-mobile {
          height: 80px;
          width: 160px;
          margin-right: 0px;
          margin-top: 32px;
          margin-bottom: 32px;
          margin-left: 0px;
        }
        cursor: pointer;
        .materiText {
          text-align: center;
          font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
          font-size: 20px;
          color: #000000;
          @include apply-only-mobile {
            font-size: 16px;
          }
        }

        .materiIcon {
          height: 40px;
          margin-bottom: 10px;
          @include apply-only-mobile {
            height: 30px;
            margin-bottom: 8px;
          }
        }
      }

      .materi2 {
        margin-top: 0px;
      }
      .materi3 {
        margin-left: 30px;
        margin-top: 100px;
        @include apply-only-mobile {
          margin-left: 0px;
          margin-top: 0px;
        }
      }
      .materi4 {
        margin-top: 140px;
        @include apply-only-mobile {
          margin-top: 0px;
        }
      }

      .materi1Locked,
      .materi2Locked,
      .materi3Locked,
      .materi4Locked {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../Images/bgLock.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        height: 100px;
        width: 150px;
        margin-right: 50px;
        cursor: not-allowed;

        @include apply-only-mobile {
          height: 80px;
          width: 160px;
          margin-right: 0px;
          margin-top: 32px;
          margin-bottom: 32px;
          margin-left: 0px;
        }

        .lockIcon {
          height: 50px;
          @include apply-only-mobile {
            height: 30px;
          }
        }
      }

      .materi2Locked {
        margin-top: 0px;
      }
      .materi3Locked {
        margin-left: 30px;
        margin-top: 100px;
        @include apply-only-mobile {
          margin-left: 0px;
          margin-top: 0px;
        }
      }
      .materi4Locked {
        margin-top: 140px;
        @include apply-only-mobile {
          margin-top: 0px;
        }
      }

      .waveBottom,
      .waveTop,
      .waveTop2 {
        width: 200px;
        height: 100px;
        @include apply-only-mobile {
          display: none;
        }
      }

      .waveBottom::after {
        content: "";
        margin-left: 70px;
        border-radius: 0 0 0 100px;
        border-bottom: 4pt dashed #000000;
        border-left: 4pt dashed #000000;
        display: block;
        width: 130px;
        height: 100%;
        @include apply-only-mobile {
          display: none;
        }
      }

      .waveTop::after {
        content: "";
        margin-left: 100px;
        border-radius: 100px 0 0 0;
        border-top: 4pt dashed #000000;
        border-left: 4pt dashed #000000;
        display: block;
        width: 130px;
        height: 100%;
        @include apply-only-mobile {
          display: none;
        }
      }

      .waveTop2::after {
        content: "";
        margin-top: -50px;
        margin-left: 160px;
        border-radius: 0 100px 0 0;
        border-top: 4pt dashed #000000;
        border-right: 4pt dashed #000000;
        display: block;
        width: 130px;
        height: 100%;
        @include apply-only-mobile {
          display: none;
        }
      }

      .saxophone {
        margin-top: 0px;
        margin-right: 0px;
        height: 100px;
        @include apply-only-mobile {
          display: none;
        }
      }

      .guitar2 {
        height: 100px;
        @include apply-only-mobile {
          display: none;
        }
      }

      .ketok {
        margin-left: 100px;
        height: 70px;
        @include apply-only-mobile {
          display: none;
        }
      }
    }
  }
}
