@import "Style/base";

.menuWrapper {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: $screen-xl-limit;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include apply-only-mobile {
      width: 100%;
    }
    .carousel {
      width: 90%;
      .materi {
        img {
          width: 1000px;
          @include apply-only-mobile {
            width: 100%;
          }
        }
        .btnPlay {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .btn {
            width: 40px;
            cursor: pointer;
            img {
              width: 40px;

              @include apply-only-mobile {
                width: 20px;
              }
            }
          }

          &.default {
            margin-top: -130px;
            @include apply-only-mobile {
              margin-top: -15%;
            }
          }

          &.default1 {
            margin-right: -300px;
            margin-top: -380px;
            @include apply-only-mobile {
              margin-right: -20%;
              margin-top: -39%;
            }
          }
          &.default2 {
            margin-right: -300px;
            margin-top: 135px;
            @include apply-only-mobile {
              margin-right: -20%;
              margin-top: 11%;
            }
          }

          &.default3 {
            margin-top: -320px;
            @include apply-only-mobile {
              margin-top: -33%;
            }
          }
          &.default4 {
            margin-top: 90px;
            @include apply-only-mobile {
              margin-top: 7%;
            }
          }
        }

        .loading {
          display: flex;
          width: 180px;
          font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
          font-size: 12px;
          @include apply-only-mobile {
            width: 90px;
            font-size: 6px;
          }
        }
      }
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5%;
      cursor: pointer;
      @include apply-only-mobile {
        .icon {
          width: 10px;
        }
      }
    }
  }
}
