@import "Style/base";

.menuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 448px;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    @include apply-only-mobile {
      height: 224px;
    }
  }
}
