@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .navigationTop,
  .navigationBottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: $screen-xl-limit;

    @include apply-only-mobile {
      margin-top: 32px;
      width: 90%;
    }
    .navigation {
      cursor: pointer;
      padding: 16px;
      .iconExit {
        width: 50px;
        height: 50px;
        @include apply-only-mobile {
          width: 30px;
          height: 30px;
        }
      }

      .iconSound {
        width: 50px;
        height: 50px;
        @include apply-only-mobile {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .mainContent {
    position: relative;
    margin-top: -100px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include apply-only-mobile {
      width: 90%;
      margin-top: 0px;
    }
    .title {
      text-align: center;
      font-family: Bristol, "Helvetica Neue", sans-serif;
      font-size: 64px;
      color: #f1b92f;
      margin-bottom: 32px;

      @include apply-only-mobile {
        font-size: 40px;
        margin-bottom: 16px;
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      .menuWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px;
        min-height: 100px;
        min-width: 200px;
        @include apply-only-mobile {
          min-height: 50px;
          min-width: 100px;
        }
        cursor: pointer;
        .iconMenu {
          height: 70px;
          @include apply-only-mobile {
            height: 40px;
          }
        }
        .menuText {
          margin-top: 8px;
          text-align: center;
          font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
          font-size: 24px;
          @include apply-only-mobile {
            font-size: 16px;
          }
          color: #ffffff;
        }
      }
    }
  }
}
