@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .menuWrapper {
    position: relative;
    width: $screen-xl-limit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include apply-only-mobile {
      flex-direction: column;
      width: 90%;
    }
    .materiWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .materi1,
      .materi2,
      .materi3,
      .materi4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../Images/bgMenu.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        height: 200px;
        width: 220px;
        margin-right: 50px;
        cursor: pointer;
        .materiText {
          text-align: center;
          font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
          font-size: 20px;
          color: #000000;
          @include apply-only-mobile {
            font-size: 14px;
            padding: 16px;
          }
        }
        @include apply-only-mobile {
          margin: 0;
          height: 160px;
          width: 180px;
        }
      }

      .materi2 {
        margin-top: 50px;
        @include apply-only-mobile {
          margin-top: 0px;
        }
      }
      .materi3 {
        margin-top: 50px;
        @include apply-only-mobile {
          margin-top: 0px;
        }
      }
      .materi4 {
        margin-top: 60px;
        @include apply-only-mobile {
          margin-top: 0px;
        }
      }

      .materiDecor1 {
        height: 120px;
        margin-top: 16px;
        @include apply-only-mobile {
          display: none;
        }
      }

      .materiDecor2 {
        height: 150px;
        @include apply-only-mobile {
          display: none;
        }
      }

      .materiDecor3 {
        height: 100px;
        margin-top: 100px;
        @include apply-only-mobile {
          display: none;
        }
      }
    }
  }
}
