@import "Style/base.scss";

.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-size: contain;
  @include apply-only-mobile {
    background-image: none;
  }
}
