@import "Style/base.scss";

.background {
  background: url("../../Images/bgLight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
