@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .menuWrapper {
    position: relative;
    width: $screen-xl-limit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include apply-only-mobile {
      width: 90%;
      margin-top: 32px;
    }
    .materi {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 128px;
      @include apply-only-mobile {
        margin: 32px;
      }
      cursor: pointer;
      .materiIcon,
      .videoIcon {
        height: 70px;
        @include apply-only-mobile {
          height: 50px;
        }
      }
      .materiText {
        margin-top: 16px;
        text-align: center;
        font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
        font-size: 24px;
        color: #ffffff;
        @include apply-only-mobile {
          font-size: 16px;
        }
      }
    }
  }
}
