@import "Style/base";

.dmobile {
  .decor1 {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
  }

  .decor2 {
    position: fixed;
    height: 70px;
    bottom: 0;
    right: 0;
  }

  .cloud {
    position: fixed;
    height: 25px;
    top: 0;
    right: 50px;
  }

  .cloud2 {
    position: fixed;
    height: 25px;
    top: 30px;
    left: 80px;
  }
}

.dtop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      margin-top: -60px;
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 200px;
    }
  }
}

.dtop1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: -40px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 200px;
    }
  }
}

.dtop2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;

    .bird {
      margin-left: -100px;
      margin-bottom: -500px;
    }

    .decor1 {
      height: 100px;
      margin-top: -80px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: -100px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 200px;
    }
  }
}

.dtop3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      height: 100px;
    }

    .cloud {
      margin-left: 100px;
      margin-bottom: -200px;
    }

    .cloud2 {
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 80px;
    }

    .bird {
      width: 60px;
      margin-right: -150px;
      margin-bottom: -650px;
    }

    .tree {
      margin-bottom: -600px;
    }
  }
}

.dtop4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      margin-top: -60px;
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 200px;
    }
    .decor3 {
      margin-bottom: -600px;
    }
  }
}

.dtop5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      margin-top: -60px;
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 50px;
    }
    .decor3 {
      margin-bottom: -400px;
    }
  }
}

.dtop6 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      margin-top: -60px;
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: -100px;
    }
    .decor3 {
      margin-bottom: -400px;
      margin-right: 200px;
      height: 100px;
    }
  }
}

.dtop7 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      margin-top: -60px;
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: -100px;
    }
    .decor3 {
      margin-bottom: -400px;
      margin-right: 70px;
      height: 100px;
    }
  }
}

.dtop8 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      margin-top: -60px;
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 50px;
    }
    .decor3 {
      margin-bottom: -200px;
    }
  }
}

.dtop9 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .decor1 {
      margin-top: -60px;
      height: 100px;
    }

    .cloud {
      margin-left: 200px;
    }

    .cloud2 {
      margin-top: 50px;
      margin-left: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cloud3 {
      margin-right: 50px;
    }
    .decor3 {
      height: 120px;
      margin-bottom: -400px;
    }
  }
}

.dbot1 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .decor2 {
    height: 200px;
  }
}

.dbot2 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  .left {
    display: flex;
    flex-direction: row;
    .children {
      height: 150px;
      margin-left: 50px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .decor2 {
      height: 200px;
      margin-right: -270px;
    }
    .tree {
      height: 400px;
    }
  }
}

.dbot3 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  .left {
    display: flex;
    flex-direction: row;
    .biola {
      height: 200px;
      margin-left: 50px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    .decor2 {
      height: 200px;
    }
  }
}

.dbot4 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 220px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .decor2 {
      height: 200px;
      margin-right: -220px;
    }
    .decor3 {
      height: 260px;
    }
  }
}

.dbot5 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 150px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .decor2 {
      height: 200px;
    }
  }
}

.dbot6 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 100px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .decor2 {
      height: 120px;
    }

    .decor3 {
      margin-right: 20px;
      height: 100px;
    }
  }
}

.dbot7 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 110px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .decor2 {
      height: 120px;
    }

    .decor3 {
      margin-right: 10px;
      height: 150px;
    }
  }
}

.dbot8 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .decor2 {
      height: 120px;
    }

    .decor3 {
      margin-right: 10px;
      height: 120px;
    }
  }
}

.dbot9 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .decor3 {
      height: 120px;
    }
  }
}

.dbot10 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 150px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .decor2 {
      height: 120px;
    }

    .decor3 {
      height: 250px;
    }
  }
}

.dbot11 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 150px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .decor2 {
      height: 120px;
    }

    .decor3 {
      height: 150px;
    }
  }
}

.dbot12 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .left {
    display: flex;
    flex-direction: row;
    .decor1 {
      height: 150px;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .decor2 {
      height: 120px;
    }

    .decor3 {
      height: 150px;
    }
  }
}
