@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .form {
    position: relative;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include apply-only-mobile {
      width: 90%;
    }

    .formWrapper {
      form {
        display: flex;
        flex-direction: column;
        .inputLabel {
          font-size: 18px;
          font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
          color: #f1b92f;
          margin-bottom: 6px;
          margin-top: 24px;
        }

        input {
          font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
          color: #174451;
          outline: none;
          font-size: 14px;
          padding: 12px;
          border-radius: 32px;
          border: 1pt solid #174451;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }

        .inputError {
          border: 1pt solid #f77a7d;
          background-color: #fcd2ca;
        }

        .inputHelper {
          margin-top: 4px;
          font-size: 14px;
          color: #f77a7d;
        }
        .btnWrapper {
          margin-top: 64px;
          display: flex;
          flex-direction: column;
          .btnPrimary,
          .btnSecondary {
            font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
            font-size: 14px;
            color: #ffffff;
            padding: 12px;
            border-radius: 32px;
            outline: none;
            border: none;
            cursor: pointer;
          }

          .btnPrimary {
            background-color: #f29a19;
          }

          .btnSecondary {
            background-color: #9fb7e7;
          }

          .btnPrimary:disabled {
            cursor: not-allowed;
            color: #99a0a7;
            background-color: #edecf0;
          }
        }
      }
    }
  }
}
