@import "Style/base.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .wrapperContent {
    @include apply-only-mobile {
      position: relative;
      min-height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .title {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: Bristol, "Helvetica Neue", sans-serif;
      font-size: 56px;
      color: #f1b92f;
      @include apply-only-mobile {
        width: 100%;
        font-size: 39px;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: $screen-xl-limit;
      @include apply-only-mobile {
        width: 100%;
      }

      .contentLeft,
      .contentRight {
        width: 200px;
        height: 200px;

        @include apply-only-mobile {
          width: 50px;
          height: 50px;
        }
      }
      .contentCenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;

        @include apply-only-mobile {
          height: 50px;
          padding-left: 8px;
          padding-right: 8px;
        }

        .mainIcon {
          height: 100px;
          @include apply-only-mobile {
            height: 50px;
          }
        }
        .subtitle {
          cursor: pointer;
          text-align: center;
          font-family: Bristol, "Helvetica Neue", sans-serif;
          font-size: 24px;
          color: #f3cc6d;
          margin-top: 104px;
          margin-bottom: 104px;
          @include apply-only-mobile {
            font-size: 16px;
            margin-top: 50px;
            margin-bottom: 50px;
          }
        }

        .subtitle:hover {
          color: #f29a19;
        }

        .credit {
          text-align: center;
          font-family: ClearSans-Thin, "Helvetica Neue", sans-serif;
          font-size: 24px;
          color: #ffffff;
          @include apply-only-mobile {
            font-size: 16px;
          }
        }
      }
    }
  }
}
