@import "Style/base";

.popupWrapper {
  padding: 16px;
  width: 1000px;

  @include apply-only-mobile {
    width: 100%;
    padding: 0px;
  }

  .popupTab {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    @include apply-only-mobile {
      padding: 16px;
    }
    .closeIcon {
      cursor: pointer;
      .icon {
        width: 20px;
      }
    }
  }

  .title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    @include apply-only-mobile {
      font-size: 18px;
      padding: 0 16px 0 16px;
    }
  }

  .content {
    font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #000000;
    margin-bottom: 16px;
    @include apply-only-mobile {
      font-size: 14px;
      padding: 0 16px 0 16px;
      overflow-x: scroll;
    }
    ol {
      li {
        margin-bottom: 16px;
        img {
          margin: 8px 0 8px 0;
          height: 100px;
          box-shadow: 0px 0px 5px #99a0a7;
          @include apply-only-mobile {
            height: 60px;
          }
        }
      }
    }
  }

  .button,
  .button2 {
    font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
    width: 100%;
    border-radius: 100px;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #fff1e8;
    border: none;
    cursor: pointer;
  }
  .button {
    background-color: #e5131d;
  }

  .button2 {
    background-color: #ffffff;
    border: 2pt solid #e5131d;
    margin-top: 8px;
    color: #e5131d;
  }
}
