@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .menuWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    width: $screen-xl-limit;
    align-items: center;
    @include apply-only-mobile {
      width: 90%;
    }

    .menu {
      width: 90%;
      background-color: #ffffff;
      padding: 16px;
      margin: 16px;
      border-radius: 16px;
      margin-bottom: 16px;
      @include apply-only-mobile {
        margin: 8px 0 8px 0;
      }
      .navMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .text {
        text-transform: capitalize;
        font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
        font-size: 22px;
        @include apply-only-mobile {
          font-size: 14px;
        }
      }

      .navContent {
        margin-top: 16px;
        @include apply-only-mobile {
          font-size: 12px;
        }
        table {
          padding: 8px;
          @include apply-only-mobile {
            padding: 4px;
          }

          border: 2pt dashed #8de87e;
          text-align: center;

          th,
          td {
            padding: 8px;
            @include apply-only-mobile {
              padding: 4px;
            }
          }

          th {
            border-bottom: 2pt dashed #8de87e;
          }
        }
      }
    }
  }
}
