@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .menuWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    @include apply-only-mobile {
      margin-top: 0px;
    }
    .materi {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("../../../Images/bgMenu2.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 720px;
      height: 520px;
      @include apply-only-mobile {
        width: 360px;
        height: 300px;
      }
      .materiTitle {
        margin-top: 64px;
        text-align: center;
        font-family: Bristol, "Helvetica Neue", sans-serif;
        font-size: 32px;
        color: #000000;
        @include apply-only-mobile {
          font-size: 22px;
        }
      }
      .materiText {
        width: 80%;
        margin-top: 32px;
        text-align: left;
        font-family: ClearSans-Regular, "Helvetica Neue", sans-serif;
        font-size: 20px;
        color: #000000;
        text-align: center;
        @include apply-only-mobile {
          font-size: 12px;
        }

        table {
          td {
            padding: 8px;
            @include apply-only-mobile {
              padding: 4px;
            }
          }
        }
      }
    }
  }
}
