@import "Style/base";

.topNavigation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $screen-xl-limit;
  margin-bottom: 32px;
  @include apply-only-mobile {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 16px;
  }
  .back {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    @include apply-only-mobile {
      width: 50px;
    }
    cursor: pointer;
    .backIcon {
      height: 70px;
      @include apply-only-mobile {
        height: 40px;
      }
    }
  }

  .next {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    @include apply-only-mobile {
      width: 50px;
    }
    cursor: pointer;
    .nextIcon {
      height: 50px;
      @include apply-only-mobile {
        height: 30px;
      }
    }
  }
  .title {
    text-transform: uppercase;
    font-family: Bristol, "Helvetica Neue", sans-serif;
    color: #f3cc6d;
    font-size: 40px;
    @include apply-only-mobile {
      font-size: 20px;
      text-align: center;
    }
  }
}
