@import "Style/base";

.popupWrapper {
  padding: 16px;
  text-align: center;
  min-height: 250px;
  max-width: 360px;

  @include apply-only-mobile {
    min-height: 200px;
  }

  .popupTab {
    display: flex;
    justify-content: flex-end;
    .closeIcon {
      cursor: pointer;
      img {
        width: 20px;
      }
    }
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #174451;
    font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
    @include apply-only-mobile {
      font-size: 18px;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .button,
  .button2 {
    font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    font-size: 12px;
    font-weight: 700;
    color: #fff1e8;

    border: none;
    cursor: pointer;
  }

  .btnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .button {
      background-color: #e5131d;
      width: 80px;
    }

    .button2 {
      width: 80px;
      background-color: #ffffff;
      border: 2pt solid #e5131d;
      color: #e5131d;
    }
  }
}
