@import "Style/base";
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../Fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: local("Poppins-BoldItalic"), url(../Fonts/Poppins-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Italic";
  src: local("Poppins-Italic"), url(../Fonts/Poppins-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url(../Fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(../Fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Bristol";
  src: local("Bristol"), url(../Fonts/Bristol.otf) format("opentype");
}

@font-face {
  font-family: "ClearSans-Thin";
  src: local("ClearSans-Thin"), url(../Fonts/ClearSans-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "ClearSans-Regular";
  src: local("ClearSans-Regular"), url(../Fonts/ClearSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "NunitoSans-Bold";
  src: local("NunitoSans-Bold"), url(../Fonts/NunitoSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: local("NunitoSans-Regular"), url(../Fonts/NunitoSans-Regular.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e6eb6;
}
