@import "Style/base";

.popupWrapper {
  padding: 16px;
  width: 500px;
  text-align: center;

  @include apply-only-mobile {
    min-height: 10px;
    width: 100%;
    padding: 0px;
  }

  .title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    color: #174451;
    font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
    @include apply-only-mobile {
      font-size: 18px;
      padding: 0 16px 0 16px;
    }
  }

  .message {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #174451;
    font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
    @include apply-only-mobile {
      font-size: 14px;
      padding: 0 16px 0 16px;
    }
  }

  .btnWrapper {
    @include apply-only-mobile {
      padding: 16px;
    }
    .button,
    .button2 {
      font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
      width: 100%;
      border-radius: 100px;
      padding: 16px;
      font-size: 16px;
      color: #ffffff;

      border: none;
      cursor: pointer;
      @include apply-only-mobile {
        font-size: 14px;
      }
    }
    .button {
      background-color: #e5131d;
    }

    .button2 {
      background-color: #ffffff;
      border: 2pt solid #e5131d;
      margin-top: 8px;
      color: #e5131d;
    }
  }
}
