@import "Style/base.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .menuWrapper {
    width: $screen-xl-limit;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    height: 500px;
    @include apply-only-mobile {
      width: 90%;
      height: max-content;
    }

    .menu {
      width: 500px;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 16px;
      @include apply-only-mobile {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .menuImg {
        min-width: 100px;
        height: 50px;
        margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include apply-only-mobile {
          min-width: 70px;
          height: 40px;
        }
        .img {
          height: 50px;
          @include apply-only-mobile {
            height: 40px;
          }
        }
      }
      .menuText {
        font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
        font-size: 20px;
        color: #ffffff;
        @include apply-only-mobile {
          font-size: 14px;
        }
      }
    }
  }
}
