@import "Style/base.scss";

.content {
  width: $screen-xl-limit;
  position: relative;
  @include apply-only-mobile {
    width: 90%;
  }

  .navigation {
    background-color: #ffffff;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    @include apply-only-mobile {
      padding: 16px;
      margin: 0px;
      border-radius: 8px;
    }
    .navTab {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .text {
      font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
      font-size: 20px;
      @include apply-only-mobile {
        font-size: 16px;
      }
    }

    .navAction {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 16px;

      .tab {
        cursor: pointer;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
        font-size: 24px;
        box-shadow: 0px 2px 2px #99a0a7;
        @include apply-only-mobile {
          font-size: 16px;
          margin: 4px;
        }

        &.base {
          background-color: #ccc;
        }
        &.selected {
          box-shadow: 0px 6px 6px #99a0a7;
        }
        &.incorrect {
          background-color: #f54d61;
        }
        &.correct {
          background-color: #8de87e;
        }
        &.choosen {
          background-color: #f4ff00;
        }
      }
    }
  }

  .navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: -43px;

    @include apply-only-mobile {
      width: 100%;
      padding: 0px;
      margin: 0px;
      margin-top: 8px;
    }

    .btnNav {
      font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
      font-size: 16px;
      border: none;
      background-color: #174451;
      color: #ffffff;
      padding: 8px 16px 8px 16px;
      box-shadow: 0px 2px 2px #99a0a7;
      border-radius: 8px;
      cursor: pointer;
      @include apply-only-mobile {
        font-size: 12px;
        margin-bottom: 8px;
      }
    }

    .btnNav:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .navWrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    height: 48px;

    @include apply-only-mobile {
      width: 100%;
      padding: 0px;
      margin: 0px;
      margin-top: 8px;
      flex-direction: column;
      height: fit-content;
    }

    .btnCheck {
      cursor: pointer;
      font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
      font-size: 16px;
      background-color: #8de87e;
      border: none;
      padding: 8px 16px 8px 16px;
      border-radius: 8px;
      box-shadow: 0px 2px 2px #99a0a7;
      @include apply-only-mobile {
        font-size: 12px;
        width: 100%;
        margin-bottom: 8px;
      }
    }

    .btnCheck:disabled {
      opacity: 0.5;
    }

    .btnFinish {
      margin-left: 8px;
      margin-right: 8px;
      font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
      font-size: 16px;
      border: none;
      background-color: #f29a19;
      padding: 8px 16px 8px 16px;
      box-shadow: 0px 2px 2px #99a0a7;
      border-radius: 8px;
      cursor: pointer;

      @include apply-only-mobile {
        font-size: 12px;
        width: 100%;
        margin-bottom: 8px;
      }
    }
  }
}

.summary {
  background-color: #ffffff;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  @include apply-only-mobile {
    margin: 16px 0 16px;
  }
  .summaryTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .text {
    font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
    font-size: 20px;
    @include apply-only-mobile {
      font-size: 16px;
    }
  }

  .result {
    font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
    .resultTitle {
      font-size: 16px;
      @include apply-only-mobile {
        font-size: 14px;
      }
    }
    .table {
      margin-top: 16px;
      border: 2pt dashed #8de87e;
      text-transform: capitalize;
      padding: 8px;
      @include apply-only-mobile {
        font-size: 12px;
        margin-top: 12px;
      }
    }

    .btnWrapper {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      @include apply-only-mobile {
        flex-direction: column;
      }
      .btnKey,
      .btnTryAgain {
        font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
        font-size: 16px;
        border: none;
        background-color: #000000;
        color: #ffffff;
        padding: 8px 16px 8px 16px;
        box-shadow: 0px 2px 2px #99a0a7;
        border-radius: 8px;
        cursor: pointer;
        @include apply-only-mobile {
          font-size: 12px;
          margin: 8px 0 0 0;
        }
      }

      .btnTryAgain {
        margin-left: 16px;
        @include apply-only-mobile {
          font-size: 12px;
          margin: 8px 0 0 0;
        }
      }

      .btnKey:hover,
      .btnTryAgain:hover {
        background-color: #f29a19;
      }
    }
  }
}

.quizBoard {
  display: flex;
  flex-direction: column;
  background-color: #9bc0fa;
  height: 600px;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  color: #000000;
  @include apply-only-mobile {
    padding: 16px;
    margin: 16px 0 0 0;
    border-radius: 8px;
    height: 500px;
  }

  .quest {
    height: 70%;
    @include apply-only-mobile {
      height: 60%;
    }
    .questTitle {
      height: 10%;
      font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
      font-size: 24px;
      color: #f54d61;
      @include apply-only-mobile {
        font-size: 16px;
      }
    }

    .questDescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90%;

      .descText {
        font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
        font-size: 22px;
        @include apply-only-mobile {
          font-size: 16px;
        }
      }

      .descImg {
        margin-top: 16px;
        .img {
          height: 120px;
          box-shadow: 0px 0px 5px #99a0a7;
          @include apply-only-mobile {
            height: 60px;
          }
        }
        .img2 {
          height: 60px;
          @include apply-only-mobile {
            height: 30px;
          }
          box-shadow: 0px 0px 5px #99a0a7;
        }
      }

      .audioWrapper {
        display: flex;
        margin-top: 16px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 140px;
        @include apply-only-mobile {
          height: 100px;
        }

        .audioPlayer {
          display: flex;
          flex-direction: row;

          align-items: center;
          margin-top: 16px;
          .audioText {
            font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
            font-size: 20px;
            margin-right: 12px;
            @include apply-only-mobile {
              font-size: 12px;
              margin-right: 8px;
            }
          }

          .btnPlay {
            cursor: pointer;

            .btn {
              width: 40px;
              @include apply-only-mobile {
                width: 25px;
              }
            }
          }

          .loading {
            display: flex;
            width: 180px;
            font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
            font-size: 12px;
            @include apply-only-mobile {
              width: 90px;
              font-size: 6px;
            }
          }
        }
      }
    }
  }

  .answer {
    height: 30%;
    @include apply-only-mobile {
      height: 40%;
    }
    .answerOption {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      height: 80%;
      color: #000000;
      @include apply-only-mobile {
        flex-direction: row;
      }
      .answerItem {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 550px;
        text-align: start;
        height: 50px;
        padding: 8px;
        margin-top: 16px;
        border-radius: 8px;
        font-family: NunitoSans-Regular, "Helvetica Neue", sans-serif;
        font-size: 20px;

        @include apply-only-mobile {
          height: 32px;
          font-size: 16px;
        }

        &.selected {
          background-color: #000000;
          color: #ffffff;
        }
        &.base {
          background-color: #f8f5e4;
        }

        &.incorrect {
          background-color: #f54d61;
        }
        &.correct {
          background-color: #8de87e;
        }

        &.locked {
          cursor: not-allowed;
        }

        .detailImg {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          img {
            height: 40px;
            @include apply-only-mobile {
              height: 25px;
            }
            box-shadow: 0px 0px 5px #99a0a7;
          }
        }
      }
    }
  }
}
