@import "Style/base";

.popupWrapper {
  padding: 16px;
  @include apply-at-lg-size {
    max-width: 400px;
    min-width: 400px;
  }
  text-align: center;

  .title {
    margin-top: 16px;
    font-size: 24px;
    @include apply-only-mobile {
      font-size: 18px;
    }
    font-weight: 700;
    color: #174451;
    font-family: Poppins-Bold, Arial, sans-serif;
  }

  .message {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #174451;
    @include apply-only-mobile {
      font-size: 14px;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .button {
    font-family: Poppins, Arial, sans-serif;
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    font-size: 12px;
    font-weight: 700;
    color: #fff1e8;
    background-color: #f77a7d;
    border: none;
    cursor: pointer;
  }
}
