@import "Style/base.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: NunitoSans-Bold, "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
}
